* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: lightgrey;
}

#cartWidget {
  margin-right: 15px;
  color: grey;
  text-decoration: none;
}

#cartWidget:hover {
  color: lightgrey;
}

.botonMasMenos {
  width: 40px;
  height: 40px;
  padding: 0px;
}

.contadorItem {
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px 10px 0px;
  width: 100%;
  text-align: center;
}

.botonAgregarCarrito {
  width: 100%;
}

ul li {
  list-style: none;
}
