* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: lightgrey;
}

#cartWidget {
  margin-right: 15px;
  color: grey;
  text-decoration: none;
}

#cartWidget:hover {
  color: lightgrey;
}

.botonMasMenos {
  width: 40px;
  height: 40px;
  padding: 0px;
}

.contadorItem {
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px 10px 0px;
  width: 100%;
  text-align: center;
}

.botonAgregarCarrito {
  width: 100%;
}

ul li {
  list-style: none;
}

.imgDetail {
  width: 100%;
}

.spinner {
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.itemCard {
  margin-top: 20px;
  margin-bottom: 20px;
}

#carrito {
  position: relative;
}

.cantidadCarrito {
  position: absolute;
  top: 0;
  left: 55%;
  background: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

.carritoNoVisible {
  display: none;
}

#formularioUsuario {
  margin-top: 50px;
  width: 50%;
  justify-content: center;
}

.input {
  margin: 10px;
}

.botonFormulario {
  margin-top: 25px;
  margin-left: 10px;
}

#nosotros {
  padding-top: 50px;
}

.nosotrosImg {
  width: 100%;
}

.botonSeguir {
  margin-left: 25px;
}
